<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/adminDashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="/images/preview.jpg" alt="Logo" id="logo" style="height: 50px;">
        <a class="navbar-brand" href="http://43.205.236.91:3000/charitylife/admin/profile">CharityLife</a>
        <div class="navbar-nav ml-auto">
            <a class="nav-link" id="dashboardLink" href="#" style="color: white;">Dashboard</a>
            <a class="nav-link" id="donationsLink" href="#" style="color: white;">Donations</a>
            <button class="btn btn-light text-primary" id="logoutBtn">Logout</button>
        </div>
    </nav>
    <div class="container mt-4">

        <div id="charityDetails">
            <!-- Charity details will appear here -->
        </div>
        <div id="notifications" style="display: none;">
            <h3>Donations</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Amount</th>
                        <th>Payment ID</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="donationsTable">
                    <!-- Donation rows will be appended here -->
                </tbody>
            </table>
            <button class="btn btn-primary" id="downloadJsonBtn">Download JSON</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7H9UibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/charityProfile.js"></script>
</body>

</html>