


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/userRegister.css" />
</head>

<body>
    <div class="navbar">
        <img src="/images/preview.jpg" alt="Logo">
        <a href="http://localhost:3000/charitylife/user/donations">Donations</a>
        <h1>CharityLife</h1>
    </div>
   
    <script src="/js/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('logoutBtn').addEventListener('click', () => {
        // Clear token and redirect to login page
        localStorage.removeItem('tokenCharity');
        window.location.href = 'login.html'; // Change to your actual login page URL
    });
</script>
</body>

</html>