 body {
     margin: 0;
     font-family: Arial, sans-serif;
 }

 .navbar {
     display: flex;
     align-items: center;
     background-color: #060afc;
     padding: 10px;
 }

 .navbar img {
     height: 50px;
     margin-right: 20px;
 }

 .navbar h1 {
     color: white;
     margin: 0;
 }

 .container {
     display: flex;
     height: calc(100vh - 70px);
 }

 .left {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #aaf1ca;
     padding: 20px;
     background-image: url("/images/charity.jpg");
     background-size: contain;
     /* Fit the image within the container */
     background-position: center;
     background-repeat: no-repeat;
 }

 .homeBtn {
     width: 200px;
     padding: 15px;
     margin: 10px;
     font-size: 16px;
     cursor: pointer;
     border: none;
     background-color: #5242e9;
     color: white;
     border-radius: 10px;
     transition: background-color 0.3s, transform 0.3s;
    
 }

 .homeBtn {
     background-color: #3d3d9f;
    
     transform: scale(1.05);
    
 }

 .right {
     flex: 2;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     position: relative;
 }

 .slideshow-container {
     position: relative;
     width: 100%;
     height: 100%;
 }

 .slide {
     display: none;
     position: absolute;
     width: 100%;
     height: 100%;
 }

 .slide img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }